/bin
/obj
/.vs
/ARTHealth/obj
/ARTHealth/bin
/ARTHealth.EF.Data/bin
/ARTHealth.EF.Data/obj

/ARTHealth.Models/obj
/ARTHealth.Models/bin
/ARTHealth.Repositories/bin
/ARTHealth.Repositories/obj

/ARTHealth.Services/obj
/ARTHealth.Services/bin
/ARTHealth_Alochol.Common/bin
/ARTHealth_Alochol.Common/obj
ImageFromEmail
/ARTHealth/wwwroot/EmailTemplate/ImageFromEmail
